## Review

List comprehension:

```python
# syntax of for loop
for i in sequence:
    expression
  
# syntax for a list comprehension
[expression for i in sequence]
```

## Knowledge check

Re-write the following for loop using a dictionary comprehension:

In [1]:
import glob
import os
import pandas as pd

monthly_data_files = glob.glob("monthly_data/*")

In [5]:
monthly_data = {}

for file in monthly_data_files:
    file_name = os.path.basename(file)[:-4]
    monthly_data[file_name] = file
    
monthly_data

{'Month-08': 'monthly_data/Month-08.csv',
 'Month-09': 'monthly_data/Month-09.csv',
 'Month-01': 'monthly_data/Month-01.csv',
 'Month-02': 'monthly_data/Month-02.csv',
 'Month-03': 'monthly_data/Month-03.csv',
 'Month-07': 'monthly_data/Month-07.csv',
 'Month-06': 'monthly_data/Month-06.csv',
 'Month-10': 'monthly_data/Month-10.csv',
 'Month-04': 'monthly_data/Month-04.csv',
 'Month-05': 'monthly_data/Month-05.csv',
 'Month-11': 'monthly_data/Month-11.csv'}

In [7]:
monthly_data = {os.path.basename(file)[:-4]: pd.read_csv(file) for file in monthly_data_files}
monthly_data

{'Month-08':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               4  2009-08-17T14:20:06Z         8        23       AX
 1               6  2009-08-31T17:33:42Z         2         6       VI
 2              22  2009-08-04T11:23:11Z         8        23       AX
 3              22  2009-08-11T12:44:38Z         8        23       AX
 4              32  2009-08-15T14:14:42Z         8        23       AX
 ...           ...                   ...       ...       ...      ...
 69487      360686  2009-08-31T23:50:54Z         7        15       MC
 69488      360687  2009-08-31T23:56:45Z         8        23       AX
 69489      360697  2009-08-31T23:37:14Z         2         6       VI
 69490      360698  2009-08-31T23:37:25Z         8        23       AX
 69491      360699  2009-08-31T23:46:18Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            21      NaN      1020           Approved   Aug
 1            25       G2      1020           Approved   Aug
 2            26      NaN      1020           Approved   Aug
 3            26      NaN      1020           Approved   Aug
 4            21      NaN      1020           Approved   Aug
 ...         ...      ...       ...                ...   ...
 69487        35      MDS      1020           Approved   Aug
 69488        21      NaN      1020           Approved   Aug
 69489        20        A      1020           Approved   Aug
 69490        21      NaN      1020           Approved   Aug
 69491        20        B      1020           Approved   Aug

 [69492 rows x 10 columns],
 'Month-09':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0              38  2009-09-12T09:51:42Z        10         6       DI
 1              44  2009-09-28T17:04:10Z         8        23       AX
 2              46  2009-09-13T14:27:57Z         2         6       VI
 3              47  2009-09-11T10:01:57Z        10         6       DI
 4              48  2009-09-11T18:22:22Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 71850      401121  2009-09-30T23:30:34Z         8        23       AX
 71851      401125  2009-09-30T23:36:29Z         2         6       VI
 71852      401126  2009-09-30T23:47:17Z         2         6       VI
 71853      401127  2009-09-30T23:49:32Z         7        15       MC
 71854      401128  2009-09-30T23:49:55Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            20      NaN      1020           Approved   Sep
 1            21      NaN      1020           Approved   Sep
 2            20        C      1020           Approved   Sep
 3            20      NaN      1020           Approved   Sep
 4            20        B      1020           Approved   Sep
 ...         ...      ...       ...                ...   ...
 71850        21      NaN      1020           Approved   Sep
 71851        20        H      1020           Approved   Sep
 71852        20        B      1020           Approved   Sep
 71853        20      MPG      1020           Approved   Sep
 71854        20        G      1020           Approved   Sep

 [71855 rows x 10 columns],
 'Month-01':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               5  2009-01-08T00:16:41Z         2         6       VI
 1              16  2009-01-20T22:40:08Z         2         6       VI
 2              28  2009-01-19T13:24:55Z         2         6       VI
 3              40  2009-01-05T16:10:58Z         2         6       VI
 4              62  2009-01-21T19:13:13Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 54530      144190  2009-01-13T11:53:44Z         2         6       VI
 54531      144191  2009-01-01T12:54:50Z         7         6       MC
 54532      144200  2009-01-02T19:28:47Z         7         6       MC
 54533      164389  2009-01-31T08:57:10Z         7         6       MC
 54534      164408  2009-01-31T21:15:56Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            20        A      1020           Approved   Jan
 1            20        H      1020           Approved   Jan
 2            21      NaN      1020           Approved   Jan
 3            20        H      1020           Approved   Jan
 4            20        B      1020           Approved   Jan
 ...         ...      ...       ...                ...   ...
 54530        20        H      1020           Approved   Jan
 54531        20      NaN      1020           Approved   Jan
 54532        20      MCC      1020           Approved   Jan
 54533        30      MCC      1020           Approved   Jan
 54534        20        H      1020           Approved   Jan

 [54535 rows x 10 columns],
 'Month-02':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               3  2009-02-21T23:23:47Z         2         6       VI
 1               7  2009-02-14T11:35:42Z         2         6       VI
 2              17  2009-02-04T10:55:54Z         2         6       VI
 3              21  2009-02-26T09:33:05Z         2         6       VI
 4              24  2009-02-12T10:35:55Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 44375      180333  2009-02-20T08:11:51Z         8        18       AX
 44376      180334  2009-02-20T08:31:06Z         8        18       AX
 44377      180335  2009-02-20T08:31:27Z        10         6       DI
 44378      180336  2009-02-20T08:33:28Z         2         6       VI
 44379      180338  2009-02-20T08:19:56Z         7         6       MC

        Factor_D Factor_E  Response Transaction_Status Month
 0            20        B      1020           Approved   Feb
 1            20        C      1020           Approved   Feb
 2            20        H      1020           Approved   Feb
 3            20        C      1020           Approved   Feb
 4            20        G      1020           Approved   Feb
 ...         ...      ...       ...                ...   ...
 44375        20      NaN      1020           Approved   Feb
 44376        20      NaN      1020           Approved   Feb
 44377        20      NaN      1020           Approved   Feb
 44378        35        H      1020           Approved   Feb
 44379        20      MCP      1020           Approved   Feb

 [44380 rows x 10 columns],
 'Month-03':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               3  2009-03-09T00:12:28Z         2         6       VI
 1              12  2009-03-01T08:31:28Z         8        18       AX
 2              24  2009-03-01T08:12:31Z         2         6       VI
 3              24  2009-03-01T21:11:28Z         2         6       VI
 4              24  2009-03-02T09:22:40Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 53254      186979  2009-03-31T23:46:22Z         7        15       MC
 53255      186980  2009-03-31T23:20:49Z         2         6       VI
 53256      186981  2009-03-31T23:24:30Z         2         6       VI
 53257      186983  2009-03-31T23:42:41Z         2         6       VI
 53258      186986  2009-03-31T23:57:32Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            20        B      1020           Approved   Mar
 1            20      NaN      1020           Approved   Mar
 2            20        G      1320           Declined   Mar
 3            20        G      1320           Declined   Mar
 4            20        G      1320           Declined   Mar
 ...         ...      ...       ...                ...   ...
 53254        20      NaN      1020           Approved   Mar
 53255        20        A      1020           Approved   Mar
 53256        20        B      1020           Approved   Mar
 53257        20        A      1020           Approved   Mar
 53258        20        H      1020           Approved   Mar

 [53259 rows x 10 columns],
 'Month-07':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               1  2009-07-13T19:08:50Z         8        23       AX
 1              10  2009-07-27T01:38:10Z         7        15       MC
 2              26  2009-07-13T10:58:51Z         8        23       AX
 3              33  2009-07-19T11:03:08Z         2         6       VI
 4              34  2009-07-29T18:52:02Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 64263      320665  2009-07-31T23:49:48Z         8        23       AX
 64264      320679  2009-07-31T23:50:19Z         2         6       VI
 64265      320680  2009-07-31T23:55:46Z         2         6       VI
 64266      320684  2009-07-31T23:58:16Z         2         6       VI
 64267      320685  2009-07-31T23:59:35Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            21      NaN      1020           Approved   Jul
 1            20      MDS      1020           Approved   Jul
 2            21      NaN      1020           Approved   Jul
 3            20        H      1020           Approved   Jul
 4            20        B      1020           Approved   Jul
 ...         ...      ...       ...                ...   ...
 64263        21      NaN      1020           Approved   Jul
 64264        21        B      1020           Approved   Jul
 64265        20        C      1020           Approved   Jul
 64266        25        A      1020           Approved   Jul
 64267        35        B      1020           Approved   Jul

 [64268 rows x 10 columns],
 'Month-06':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0              15  2009-06-02T15:54:21Z         8        18       AX
 1              43  2009-06-27T06:28:36Z         8        23       AX
 2              73  2009-06-01T14:51:09Z         8        18       AX
 3              78  2009-06-22T09:48:51Z         2         6       VI
 4              82  2009-06-15T18:00:55Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 59661      282869  2009-06-30T23:35:55Z         2         6       VI
 59662      282872  2009-06-30T23:35:55Z         2         6       VI
 59663      282873  2009-06-30T23:36:43Z         8        23       AX
 59664      282874  2009-06-30T23:58:08Z         7        15       MC
 59665      282878  2009-06-30T23:42:58Z         7        15       MC

        Factor_D Factor_E  Response Transaction_Status Month
 0            20      NaN      1020           Approved   Jun
 1            21      NaN      1020           Approved   Jun
 2            20      NaN      1020           Approved   Jun
 3            20        B      1020           Approved   Jun
 4            20        H      1020           Approved   Jun
 ...         ...      ...       ...                ...   ...
 59661        20        B      1020           Approved   Jun
 59662        20        C      1020           Approved   Jun
 59663        21      NaN      1020           Approved   Jun
 59664        20      MPL      1020           Approved   Jun
 59665        25      MDB      1020           Approved   Jun

 [59666 rows x 10 columns],
 'Month-10':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0              11  2009-10-11T14:59:25Z         2         6       VI
 1              20  2009-10-16T19:18:09Z        16         6       DI
 2              25  2009-10-13T19:50:14Z         2         6       VI
 3              35  2009-10-16T14:06:10Z         2         6       VI
 4              38  2009-10-09T23:36:19Z        10         6       DI
 ...           ...                   ...       ...       ...      ...
 80272      444365  2009-10-31T23:49:21Z         2         6       VI
 80273      444365  2009-10-31T23:52:18Z         2         6       VI
 80274      444366  2009-10-31T23:58:19Z         7        15       MC
 80275      444370  2009-10-31T23:39:31Z         7        15       MC
 80276      444372  2009-10-31T23:59:30Z        15        23       AX

        Factor_D Factor_E  Response Transaction_Status Month
 0            20        B      1020           Approved   Oct
 1            20      NaN      1020           Approved   Oct
 2            20        B      1020           Approved   Oct
 3            20        D      1020           Approved   Oct
 4            20      NaN      1020           Approved   Oct
 ...         ...      ...       ...                ...   ...
 80272        55      NaN      1812           Declined   Oct
 80273        55      NaN      1812           Declined   Oct
 80274        20      MPL      1020           Approved   Oct
 80275        20      MPL      1020           Approved   Oct
 80276        21      NaN      1020           Approved   Oct

 [80277 rows x 10 columns],
 'Month-04':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               8  2009-04-19T15:25:35Z         2         6       VI
 1               8  2009-04-29T13:46:18Z         2         6       VI
 2               9  2009-04-16T12:36:41Z         8        18       AX
 3              19  2009-04-27T23:07:43Z         2         6       VI
 4              25  2009-04-04T18:40:35Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 51028      212514  2009-04-30T23:10:51Z         7        15       MC
 51029      212524  2009-04-30T23:47:50Z        10         6       DI
 51030      212525  2009-04-30T23:49:44Z        10         6       DI
 51031      212541  2009-04-30T23:47:54Z        10         6       DI
 51032      212544  2009-04-30T23:58:40Z         7        15       MC

        Factor_D Factor_E  Response Transaction_Status Month
 0            20        B      1020           Approved   Apr
 1            20        B      1020           Approved   Apr
 2            20      NaN      1020           Approved   Apr
 3            20        B      1020           Approved   Apr
 4            20        B      1020           Approved   Apr
 ...         ...      ...       ...                ...   ...
 51028        35      NaN      1020           Approved   Apr
 51029        20      NaN      1020           Approved   Apr
 51030        20      NaN      1020           Approved   Apr
 51031        50      NaN      1857           Declined   Apr
 51032        20      NaN      1020           Approved   Apr

 [51033 rows x 10 columns],
 'Month-05':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0              13  2009-05-28T21:58:48Z         8        18       AX
 1              14  2009-05-10T00:13:13Z         2         6       VI
 2              25  2009-05-09T18:15:11Z         2         6       VI
 3              43  2009-05-13T12:09:34Z         8        18       AX
 4              61  2009-05-08T21:39:52Z         7        15       MC
 ...           ...                   ...       ...       ...      ...
 55074      246672  2009-05-31T23:44:18Z         2         6       VI
 55075      246680  2009-05-31T23:51:31Z         2         6       VI
 55076      246681  2009-05-31T23:56:02Z         2         6       VI
 55077      246689  2009-05-31T23:24:49Z         2         6       VI
 55078      246690  2009-05-31T23:30:57Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            20      NaN      1020           Approved   May
 1            20        D      1020           Approved   May
 2            20        B      1020           Approved   May
 3            20      NaN      1020           Approved   May
 4            20      MCC      1020           Approved   May
 ...         ...      ...       ...                ...   ...
 55074        20        G      1020           Approved   May
 55075        21        A      1020           Approved   May
 55076        20        A      1020           Approved   May
 55077        20        B      1020           Approved   May
 55078        20        A      1020           Approved   May

 [55079 rows x 10 columns],
 'Month-11':        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
 0               2  2009-11-18T22:58:29Z         7        15       MC
 1               2  2009-11-25T11:24:29Z         7        15       MC
 2               2  2009-11-25T11:26:15Z         7        15       MC
 3               2  2009-11-25T12:12:34Z         7        15       MC
 4              19  2009-11-09T23:40:38Z         2         6       VI
 ...           ...                   ...       ...       ...      ...
 94310      495134  2009-11-30T23:55:08Z         2         6       VI
 94311      495135  2009-11-30T23:57:00Z         7        15       MC
 94312      495136  2009-11-30T23:57:33Z         2         6       VI
 94313      495137  2009-11-30T23:57:39Z         7        15       MC
 94314      495150  2009-11-30T23:58:32Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
 0            20      MCG      1020           Approved   Nov
 1            50      MCG      1100           Declined   Nov
 2            50      MCG      1100           Declined   Nov
 3            20      MCG      1020           Approved   Nov
 4            20        B      1020           Approved   Nov
 ...         ...      ...       ...                ...   ...
 94310        20        D      1020           Approved   Nov
 94311        20      MCW      1020           Approved   Nov
 94312        21        A      1020           Approved   Nov
 94313        35      MPL      1020           Approved   Nov
 94314        20        B      1020           Approved   Nov

 [94315 rows x 10 columns]}

In [8]:
pd.concat(monthly_data)

                Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
Month-08 0               4  2009-08-17T14:20:06Z         8        23       AX
         1               6  2009-08-31T17:33:42Z         2         6       VI
         2              22  2009-08-04T11:23:11Z         8        23       AX
         3              22  2009-08-11T12:44:38Z         8        23       AX
         4              32  2009-08-15T14:14:42Z         8        23       AX
...                    ...                   ...       ...       ...      ...
Month-11 94310      495134  2009-11-30T23:55:08Z         2         6       VI
         94311      495135  2009-11-30T23:57:00Z         7        15       MC
         94312      495136  2009-11-30T23:57:33Z         2         6       VI
         94313      495137  2009-11-30T23:57:39Z         7        15       MC
         94314      495150  2009-11-30T23:58:32Z         2         6       VI

                Factor_D Factor_E  Response Transaction_Status Month
Month-08 0            21      NaN      1020           Approved   Aug
         1            25       G2      1020           Approved   Aug
         2            26      NaN      1020           Approved   Aug
         3            26      NaN      1020           Approved   Aug
         4            21      NaN      1020           Approved   Aug
...                  ...      ...       ...                ...   ...
Month-11 94310        20        D      1020           Approved   Nov
         94311        20      MCW      1020           Approved   Nov
         94312        21        A      1020           Approved   Nov
         94313        35      MPL      1020           Approved   Nov
         94314        20        B      1020           Approved   Nov

[698159 rows x 10 columns]